body {
	background: #ffaa75; /* Old browsers */
background: -moz-linear-gradient(top, #ffaa75 0%, #fff9d1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffaa75 0%,#fff9d1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffaa75 0%,#fff9d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}