
/* Bootstrap Overrides
======================= */

/* Buttons */

.btn-primary:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
 }

 /* btn primary */

.btn-primary {
    background-color: rgb(50, 72, 125);
    border-color: rgb(35, 46, 71);
}
.btn-primary:hover {
    background-color: rgb(70, 92, 155);
    border-color: rgb(40, 56, 95);
}
.btn-primary:active,
.btn-primary.active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(50, 72, 125);
}

.btn-primary {
    background-color: rgb(50, 72, 125);
    border-color: rgb(35, 46, 71);
}
.btn-primary:hover {
    background-color: rgb(70, 92, 155);
    border-color: rgb(40, 56, 95);
}
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(50, 72, 125);
}

/* btn secondary */

.btn-secondary {
    background-color: rgb(97, 50, 125);
    border-color: rgb(51, 35, 71);
}
.btn-secondary:hover {
    background-color: rgb(121, 70, 155);
    border-color: rgb(68, 40, 95);
}
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary:visited,
.btn-secondary:focus {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(85, 50, 125);
}

.btn-secondary {
    background-color: rgb(85, 50, 125);
    border-color: rgb(52, 35, 71);
}
.btn-secondary:hover {
    background-color: rgb(117, 70, 155);
    border-color: rgb(73, 40, 95);
}
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(91, 50, 125);
}


