<div id="bio">
    <h2>Bio</h2>
    <p>Birmingham City University graduate from the United Kingdom with a 2.1 qualification (with honours) in Computer Games Technology. Currently employed at Semantic Audio Labs Ltd.</p>
    <p>In my spare time, I like to play video games. Furthermore, when I find free time I like to create games using Unity or fan mods of established video games.</p>
    <p>As of the last three years, my primary focus has been in web development.</p>
    <p>My main skills include:
        <li>HTML (5)</li>
        <li>Angular (both JS and 2+)</li>
        <li>CSS (as well as LESS, SASS, SCSS)</li>
        <li>Experience with PHP</li>
        <li>C#</li>
        <li>Experience with C++</li>
    </p>
</div>
<hr />

<div id="portfolio">
    <h2>Portfolio</h2>
    <div id="portfolio-container">
        <app-project *ngFor="let project of projects" [project]="project"></app-project>
    </div>
    <p>Alternatively visit <a href="https://github.com/Superjub" target="_blank">https://github.com/Superjub</a> for past projects. More projects coming soon!</p>
</div>
<hr />

<div id="cv">
    <h2>CV</h2>
    <p><a href="assets/bradley_c_pick_cv.pdf">Click here</a> to view my CV.</p>
</div>
<hr />

<div id="contact">
    <h2>Contact</h2>

    <p>For all busines enquiries, email me at <a href="mailto:bcpick1995@gmail.com">bcpick1995@gmail.com</a></p>

    <div class="logo-container">
        <a class="da-button" href="https://www.deviantart.com/superjub">
            <img src="assets/logos/deviantart-logo.png" style="height: inherit; width: inherit">
        </a>

        <a class="linkedIn-button" href="https://www.linkedin.com/in/bradley-pick-87a016149/">
            <img src="assets/logos/linkedin-logo.png" style="height: inherit; width: inherit">
        </a>

        <a class="git-button" href="https://github.com/Superjub/">
            <img src="assets/logos/github-logo.png" style="height: inherit; width: inherit">
        </a>
    </div>
</div>